[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"
keras = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
